# If you want Seedkeeper to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install seedkeeper.desktop

[Desktop Entry]
Comment=Utility to set up and use a SeedKeeper
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum %u"
GenericName[en_US]=SeedKeeperUtil
GenericName=SeedKeeperUtil
Icon=satochip
Name[en_US]=seedkeeper.desktop
Name=SeedKeeperUtil
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
#MimeType=x-scheme-handler/bitcoin;
#Actions=Testnet;

#[Desktop Action Testnet]
#Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum --testnet %u"
#Name=Testnet mode
